body {
	background-color: #0092B2;
	text-align: center;
	font-family: "Playfair Display";
}

h1 {
	display: inline-block;
	padding: 15px;
	margin: 20px;
	color: white;
	font-size: 3em;
	border: white solid 1px;
	border-radius: 10px;
} 

h1:hover {
	background-color: white;
	color: #0092B2;
}

nav {
	height: 100px;
	width: 100%;
}

.logo_sololearn {
	height: 50px;
	width: 50px;
}

.logo_codeacademy {
	height: 40px;
	margin-left: 20px;
}

.logo_codeacademy, .logo_sololearn {
	position: relative;
	bottom: -5px;
}

i {
	margin: 20px 20px;
	font-size: 2.5em;
	color: #024682;
}

i:hover {
	color: #0063BA;
}

.titre {
	text-transform: uppercase;
}

.colonne {
	background-color: white;
	margin: auto;
	padding: 50px;
	width: 40%;
	border: rgba(13,126,156, 0.8) solid 1px;
	border-radius: 20px;
	font-size: 1.5em;
}

section {
	display: block;
	border: rgba(13,126,156, 0.8) solid 2px;
	border-radius: 10px;
	width: 40%;
	margin: 20px auto;
}

section {
	width: 45%;
	
}

.flex {
	display: flex;
	flex-flow: row wrap;
}

hr {
	border: rgba(13,126,156, 0.8) 1px solid;
	margin: 50px 0px 50px;
	width: 100%;
}

progress {
	background-color: black;
	width: 70%;
}


/* QUAND L ECRAN EST PLUS PETIT QUE 1750 PIXELS (c'est là que j'ai */
/* detectés les soucis d'affichages de la progress bar) */
@media screen and (max-width:1750px) {	
	.flex {
		display: block;
	}
}
